---
import MainLayout from "../../layouts/MainLayout.astro"
---

<MainLayout description="Ásványtrafik kezdő oldal" title="Ásványtrafik">
  <div class="min-h-screen">
    <h1 class="text-2xl text-center font-bold">"Okos"karkötők</h1>
    <h2 class="my-40 text-3xl text-center font-bold font-ast text-yellow-200">
      Feltöltés alatt...
    </h2>
  </div>
</MainLayout>
