---
import MainLayout from "../../layouts/MainLayout.astro"
---
<MainLayout description="Ásványtrafik kezdő oldal" title="Ásványtrafik" >
  <h1 class="text-2xl text-center font-bold">"Okos"karkötők</h1>
</MainLayout>