@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CurlzMT";
  src: url("/fonts/CurlzMT.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}